p {
  text-align: left;
  margin-left:20px
}

img {
  width: 180px;
  float:left; 
  margin-left:20px
}

.research-card {
  margin-left: 10%;
  margin-right: 10%;
  background: #f9f9f9;
  border: 2px dashed #f9da10;
}

