<br /><br />
<!-- Honors Thesis Portion -->
<div class="research-card">
  <h1>Honors Thesis</h1>
  <img src="../../assets/smithlogo.png" />
  <div class="inner-text">
    <ul>
      <li><u>Dates:</u>&nbsp;&nbsp; September 2018 - May 2019</li>
      <li><u>Lab:</u>&nbsp;&nbsp; <a href="http://www.science.smith.edu/ismail/">Ismail Lab </a></li>
      <li><u>Tentative Title:</u>&nbsp;&nbsp; </li>
      <li><u>Tentative Description:</u>&nbsp;&nbsp; </li>
      <li><a>Download Paper </a></li>
    </ul>
  </div>
  <br />
</div>

<br /><br />

<div class="research-card">
  <h1>NSF Funded Research Experience for Undergrads (REU)</h1>
  <img src="../../assets/tudlogo.png" />
  <div class="inner-text">
    <ul>
      <li><u>Dates:</u>&nbsp;&nbsp;June - August 2018</li>
      <li><u>Lab: <a href="https://www.fzd.tu-darmstadt.de/internationaleraustausch/automotiveengineeringsummer/automotiveengineeringsummergermany.en.jsp">
            Institute of Automotive Engineering</a>
        </u>&nbsp;&nbsp; </li>
      <li><u>Description:</u>&nbsp;&nbsp; </li>
      <li><a>Download Paper </a></li>
    </ul>
  </div>
  <br />
</div>

<br /><br />

<div class="research-card">
  <h1>Ismail Lab Assistant</h1>
  <img src="../../assets/smithlogo.png" />
  <div class="inner-text">
    <ul>
      <li><u>Dates:</u>&nbsp;&nbsp; February 2017 - Present</li>
      <li><u>Lab:</u>&nbsp;&nbsp; <a href="http://www.science.smith.edu/ismail/">Ismail Lab </a></li>
      <li><u>Description:</u>&nbsp;&nbsp; </li>
      <li><a>Download Paper </a></li>
    </ul>
  </div>
  <br />
</div>


<br /><br />

<div class="research-card">
  <h1>Summer Undergraduate Research Fellowship</h1>
  <img src="../../assets/smithlogo.png" />
  <div class="inner-text">
    <ul>
      <li><u>Dates:</u>&nbsp;&nbsp; May - July 2017</li>
      <li><u>Description:</u>&nbsp;&nbsp; </li>
      <li><a>Download Paper </a></li>
    </ul>
  </div>
  <br />
</div>


<br /><br />

<div class="research-card">
  <h1> Mushroom Mycellium Project</h1>
  <img src="../../assets/smithlogo.png" />
  <div class="inner-text">
    <ul>
      <li><u>Dates:</u>&nbsp;&nbsp; September - December 2017</li>
      <li><u>Description:</u>&nbsp;&nbsp; </li>
      <li><a>Download Paper </a></li>
    </ul>
  </div>
  <br />
</div>


<br />
