#home-text {
    text-align:left ;
    margin-left:20%;
}

#home-img {
    border: 1px solid black;
}

img {
    width:20%;
    border: 1px solid black;
    min-width: 300px;
    float:left;
    margin-right:20px;
}


#home-container{
    margin-left:15%;
    margin-right: 15%;
    align-content: center
}