<br /><br />
<div id="home-container">
  <img src="../../assets/picture_about.jpg"/>

  <div id="home-text">
    <p>
      I am a senior at Smith College who will graduate with a B.S. in
      Engineering Science in May. I am passionate about applications of
      engineering that benefit people and the environment. My education and
      research experiences in both environmental and mechatronic engineering
      have made me a resourceful and resilient engineer who takes an
      interdisciplinary approach when solving problems. See my projects page for
      a full list of my research and design experiences.
    </p>
    <p>
      Feel free to contact me with job opportunities or otherwise at
      rkohn@smith.edu.
    </p>
  </div>
</div>
