ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f9da10;
  color:#000;
  
}

.active {
  background-color: #4caf50;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

img{
  width:35px;
  margin-top:5px;
  margin-left: 20px;
  margin-right: 10px;

}